body {
  background: #55a9d0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
}

* {
  font-family: sans-serif;
  box-sizing: border-box;
}

form {
  width: 500px;
  border: 2px solid #ccc;
  padding: 30px;
  background: #fff;
  border-radius: 15px;
  position: relative;
}

h2 {
  text-align: center;
  margin-bottom: 40px;
}

input {
  display: block;
  border: 2px solid #ccc;
  width: 95%;
  padding: 10px;
  margin: 10px auto;
  border-radius: 5px;
}
label {
  color: #888;
  font-size: 18px;
  padding: 10px;
}

button {
  background: #555;
  padding: 10px 15px;
  color: #fff;
  border-radius: 5px;
  margin-right: 10px;
  border: none;
  display: block;
  margin: 0 auto;
}
button:hover {
  opacity: 0.7;
}
.error {
  background: #f2dede;
  color: #a94442;
  padding: 10px;
  width: 95%;
  border-radius: 5px;
  margin: 20px auto;
}

h1 {
  text-align: center;
  color: #fff;
}

a {
  background: #f0e9e9;
  padding: 10px 15px;
  color: #000000;
  border-radius: 5px;
  margin-right: 10px;
  border: none;
  text-decoration: none;
  opacity: 0.9;
}
a:hover {
  opacity: 1;
  scale: 1.1;
}

.logout {
  background: #8b0c0c;
  color: #fff;
  opacity: 1;
}

.logout:hover {
  opacity: 0.9;
  background: #e11010;
  scale: 1;
}

.place-a {
  margin-top: 40px;
}

.note {
  font-size: 0.75rem;
  color: #8b8e98;
  text-decoration: underline;
}

#signup p {
  text-align: center;
  text-decoration: none;
  font-size: 12px;
}

.note > a {
  text-decoration: none;
  background-color: #e2eff0;
  border-radius: 3px;
  color: #128fe1;
}

.note > a:hover {
  text-decoration: underline royalblue;
}
